<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
  <title>{% block title %}{% endblock %} | {{ settings.SITE_NAME }}</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}base.css" type="text/css"/>
  <script type="application/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script type="application/javascript" src="{{ STATIC_URL }}base.js"></script>
  
</head>

<body>
  <div id="body">
    <header>
      <div id="site-name"><a href="{% url core:index %}">{{ settings.SITE_NAME }}</a></div>
    </header>
    <nav/>
    <article>{% block content %}{% endblock %}</article>
  </div>
</body>
</html>
