*.*~
*.pyc
*.pyo
dist
build
flot
jquery-ui
jquery-ui.zip
MANIFEST
MANIFEST.in
datastage/flot
datastage/jquery
datastage/jquery-treeview
datastage/jquery-ui
datastage/mochikit

debian/debhelper.log
debian/files
debian/substvars
debian/tmp/

