[submodule "jquery"]
	path = jquery
	url = git://github.com/jquery/jquery.git
[submodule "mochikit"]
	path = mochikit
	url = git://github.com/mochi/mochikit.git
[submodule "jquery-treeview"]
	path = jquery-treeview
	url = git://github.com/jzaefferer/jquery-treeview.git
[submodule "puppet/modules/supervisor"]
	path = puppet/modules/supervisor
	url = git://github.com/martinfilliau/puppet-module-supervisor.git
