psycopg2
redis
flup
libmount
oauth2
rdflib
pylibacl
Django>=1.3.1
django-conneg>=0.5
django-longliving
#python-sword-client>=0.2
#sword2
PyWebDAV
lxml
pytz
xattr
pam
-e hg+https://bitbucket.org/wnielson/django-pam#egg=dpam
-e hg+https://bitbucket.org/richardjones/python-sword2#egg=sword2
