Source: dataflow-datastage
Section: python
Priority: extra
Maintainer: DataFlow <jisc.dataflow@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
               python-all,
               python-setuptools
Standards-Version: 3.9.2
Vcs-Git: git://github.com/dataflow/DataStage.git
Homepage: https://github.com/dataflow/DataStage
Uploaders: Alexander Dutton <alexander.dutton@zoo.ox.ac.uk>
XS-Python-Version: >= 2.6

Package: dataflow-datastage
Architecture: all
Depends: python,
         python-dev,
         python-setuptools,
         python-virtualenv,
		 acl,
         redis-server,
         postgresql,
         postgresql-client,
		 libffi-dev,
		 libpq-dev,
		 libxslt1-dev,
		 libacl1-dev,
         apache2,
         sysvinit-utils,
         chkconfig,
         libapache2-mod-scgi,
         pwgen,
         openssh-server,
         samba,
		 mercurial,
		 #which of these are really required?
		 uuid-dev,
		 liblzo2-dev,
		 libxml2,
		 libxml2-dev,
		 libxslt-dev
Description: DataStage allows research groups to manage research data locally,
             which can then be pushed to an institutional data repository.

