#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#DEB_PYTHON_SYSTEM=pysupport
#
#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/python-distutils.mk

export DISTUTILS_ARGS=--root=debian/dataflow-datastage \
                      --install-layout=deb \
#                      --install-lib=/usr/share/dataflow \
#                      --install-scripts=/usr/share/dataflow \
#                      --install-data=/usr/share/dataflow


%:
	dh $@ --with python2

# python installation will be in a virtual environment and handled in postinst
#override_dh_auto_install:
#	python setup.py install ${DISTUTILS_ARGS}

override_dh_link:
	mkdir -p debian/dataflow-datastage/etc
	ln -s /usr/share/dataflow-datastage/conf/datastage.conf debian/dataflow-datastage/etc/datastage.conf

	mkdir -p debian/dataflow-datastage/etc/apache2/sites-available
	mkdir -p debian/dataflow-datastage/etc/apache2/sites-enabled

	ln -s /usr/share/dataflow-datastage/conf/apache.conf debian/dataflow-datastage/etc/apache2/sites-available/datastage.conf
	ln -s ../sites-available/datastage.conf debian/dataflow-datastage/etc/apache2/sites-enabled/datastage.conf

	mkdir -p debian/dataflow-datastage/etc/init.d
	ln -s /usr/share/dataflow-datastage/conf/init-script debian/dataflow-datastage/etc/init.d/datastage

	mkdir -p debian/dataflow-datastage/etc/default
	ln -s /usr/share/dataflow-datastage/conf/default debian/dataflow-datastage/etc/default/dataflow-datastage

override_dh_clean:
	dh_clean
	rm -rf build
